body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand,h1 {
  color:white;
}

#title {
  background: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:3rem;
  line-height:1.5;
}

.navbar-brand {
  font-size:2rem;
}

.navbar-expand-lg {
  padding:0 0 4.5rem;
}

.nav-link {
  margin-right:5px;
}

.container-fluid {
  padding:3% 15%;
}

.iphone-img {
  margin:0 25%;
  transform: rotate(20deg);
  width:50%;
}

.download-btn-app, .download-btn-goog {
  margin:1rem .2rem;
}

a.nav-link, a.nav-link:visited, a.navbar-brand:visited  {
  color:white;
}

a.nav-link:hover {
  border:1px solid white;
}

ul.navbar-nav li {
  font-size:1.2rem;
  font-family: 'Montserrat-light', sans-serif;
  padding:0 18px;
}

#features h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size:1.5rem;
}

#features p {
  color:#8f8f8f;
}

#features div .col-lg-4 {
  text-align:center;
}

i.fas.fa-heart,i.fas.fa-bullseye, i.fas.fa-check-circle {
  color:#ef8172;
  font-size:4rem;
  padding:2rem 0;
}

i.fas.fa-heart:hover,i.fas.fa-bullseye:hover, i.fas.fa-check-circle:hover {
  color:#ff4c68;
}

#testimonials{
  background:#ef8172;
  color:#fff;
  padding: 7% 15%;
  text-align:center;
}

#testimonials h2 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size:2rem;
  line-height:1.5;
}

.testimonial-image {
  border-radius:250px;
  margin:20px;
  width:15%;
}

#press {
  background:#ef8172;
  padding-bottom:3%;
  text-align:center;
}

#press img {
  margin:10px 15px;
  width:10%;
}

.card-header,.card-header.py-3.text-white.bg-primary.border-primary {
  background:#ef8172 !important;
}
h1.card-title.pricing-card-title {
  color:#ff4c68;
}

.card-header h4 {
  color:white;
}

.planBtn {
  background:#ef8172;
  border:1px solid #ff4c68;
  color:white;
}

.planBtn:hover {
  background:#ff4c68;
}

#cta h3 {
  color:white;
  text-align:center;
}
section#pricing {
  padding:3% 1%;
}

section#cta {
  background:#ef8172;
  padding-top: 5%;
  text-align:center;
}

#footer {
  background:#ef8172;
  color:white;
  padding:1%;
  text-align:center;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.disclaimer {
  color:white
  font-size: 0.5rem;
  font-style:italic;
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size:2rem;
  }
  .iphone-img {
    margin: 0 30%;
    width:50%;
  }
}

@media only screen and (max-width: 600px) {
  .title-img-main {
    text-align:center;
  }
  h1 {
    font-size:2rem;
  }
  .iphone-img {
    margin: 0 auto;
    width:100%;
    transform: rotate(0);
  }
}
